<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cfwin.cfwinblockchain">

    <application
        tools:replace="android:name,android:theme"
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Create4ImportUserActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.user.CreateUserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".activity.user.ShowWordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.ImportUserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.home.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.home.CandyDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.mine.MsgCenterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.mine.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.mine.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.mine.ServiceAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity android:name=".activity.login.ScanResultActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.cfwin.cfwinblockchain.ACTION_SCAN_LOGIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.LoginResultActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.mine.account.ManagerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.mine.account.DetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.mine.account.ShowAccountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.mine.account.PresentActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.mail.MailLoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.mail.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.mail.MsgListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.mail.SecretActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.mail.SendActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.mail.contacts.ContactsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.mail.contacts.AddActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.mail.contacts.DetailActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>